input {
    font-family: "Black Ops One";
}

body {
    /* background-color: rgb(188, 188, 188); */
    font-family: "Permanent Marker", "Black Ops One";
    background-image: url(images/bluprint.jpg);
}

.titleContainer {
    margin: 2rem;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 7rem;
}

.mainDisplay {
    display: flex;
    
}

.calcContainer {
    border: 1px solid black;
    border-radius: 1%;
    background-color: rgb(240, 255, 255);
    box-shadow: .5rem .5rem rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 4rem;
}

.inputSide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputTitle {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 2rem;
}

.feetInput, .inchesInput, .valueText, .priceInput, .priceText, .boardTotals, .totalsText, .priceTotals {
    margin: 1rem;
} 

.valueContainer {
    display: flex;
}

.priceContainer {
    display: flex;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 4rem;
}

.submitBtn {
    padding: 1rem;
    border-radius: 10%;
    font-family: "Permanent Marker", "Black Ops One";;
}

.outputSide {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.totalTitle {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 2rem;
}

.boardOutputContainer {
    display: flex;
}

.totalCostContainer {
    display: flex;
}

.infoText {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.displayText {
    margin: 1.5rem;
    border: 1px solid black;
    background-color: rgb(240, 255, 255);
    box-shadow: .5rem .5rem rgb(215, 215, 215);
    border-radius: .5rem;
    min-width: 10rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.boardTotals, .priceTotals {
    font-family: "Black Ops One";
}